* {
  margin: 0;
  padding:0;
}

::selection {
  color: #FFF;
  background: #268785;
}

a,
a:visited {
  color: #369;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: none;
  background: #FFF;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}
a:active {
  color: #333;
  text-decoration: none;
  background: #FFF;
}


body {
  font: 14px/1.5 'Source Sans Pro', Tahoma, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  color:#333;
  word-break: break-word;
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 2px;
  background: #00896C;
}

strong {
  color: #272727;
  font-weight: bold
}

h1 {
  margin: 0 0 10px 0;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

aside {
  font: 2.25em 'Lato', Tahoma, Helvetica, Arial, sans-serif;
  float: left;
  width: 20%; 
  background-color: #FFF;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  z-index: 0;
  position: fixed;
  text-align: center;
}

.index a {
  text-decoration: none;
  color: #FFF; 
  font-size: 16px;
}

.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 12% auto;
}

.home {
    background: #E1A679;
}

.home:hover {
    background: #FEDFE1;
    -webkit-box-shadow: 3px 3px 3px #E1A679;
    -moz-box-shadow:3px 3px 3px #E1A679;
    box-shadow:3px 3px 3px #E1A679;
}

.link {
    background: #227D51; 

}

.link:hover {
    background: #5DAC81;
    -webkit-box-shadow: 3px 3px 3px #227D51;
    -moz-box-shadow: 3px 3px 3px #227D51;
    box-shadow: 3px 3px 3px #227D51;
}

.about {
    background: #F7C242; 
}

.about:hover {
    background: #FAD689;
    -webkit-box-shadow: 3px 3px 3px #F7C242;
    -moz-box-shadow:3px 3px 3px #F7C242;
    box-shadow:3px 3px 3px #F7C242;
}

.blog {
    background: #268785; 
}

.blog:hover {
    background: #A5DEE4;
    -webkit-box-shadow: 3px 3px 3px #268785;
    -moz-box-shadow:3px 3px 3px #268785;
    box-shadow:3px 3px 3px #268785;
}

.circle:hover{
    color: #000;
}
 
.circle span{
    display: block;
    height: 100px;
    line-height: 100px;
}

.content ol li {
    margin-left: 2%;
}

.content ul li {
    margin-left: 2%;
}

ul.archieve li {
	list-style-type: none;
    margin-left: 2%;
}

.content ol li {
  list-style-type:decimal;
}

.site-info {
  height: 60px;
  line-height: 60px;
  color: #000;
  font-family: 'Architects Daughter', cursive;
}

.content {
  top: 0;
  float:left;
  color:#444;
  min-height: 700px;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-left: 25%;
  width: 70%;
  max-width: 1024px;
}
.content h1 {
  font-size: 20px; 
  color: #3DA0A0;
}
.content h2 {
  font-size: 18px;
  color: #3DA0A0;  
}
.content h2 a {
  font-size:14px;
}
.content h2 small,
.content h2 small a,
.content h2 small a:hover {
  font-size:14px;
  color:#999;
  text-decoration:none;
  padding-left:4px;
  background-color:#fff;
}
.content h3 {
  font-size: 16px;
  color: #3DA0A0;  
}

.info {
  word-wrap: break-word; 
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px dashed #DDD;
  padding-bottom: 8px;
  font: 13px Arial,Helvetica,sans-serif;
  line-height: 150%;
  color: #666; 
  margin-left: 20px;
}
.post-pagination{
  word-wrap: break-word; 
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px dashed #DDD;
  padding-bottom: 8px;
  font: 13px Arial,Helvetica,sans-serif;
  line-height: 150%;
  color: #666;
}

blockquote{
    margin: 0 0 10px;
    border: 1px solid #ECECEC;
    border-left: 3px solid rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 10px rgba(0,0,0,.06);
    padding: 15px 15px 5px 48px;
    background: #fdfdfd;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    position: relative;
    color: #072;
}

code {
    border-radius: 5px;
    padding: 1px 2px;
    color: #F04747;
    background-color: #F9F9F9;
}

footer {
  clear: both;
  bottom: 0;
  color: #00896C;
  font-size: 14px;
  text-align: center;
}

.entry-time {
  float: right;
}

.entry-content a:hover {
  border-bottom: 1px solid #369;
}

.tags {
  margin-bottom: 20px;
}

.tags span {
  font-size: 16px;
  color: #00896C;
}

.tags ul li{
  display: inline;
  background: #3DA0A0;
  color: #FFF;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; 
  border-radius: 3px;
}


/************ 小屏显示 ***************/

@media screen
and (max-width: 930px){
  aside {
      position: relative;
      display: block;
	  height: auto;
      width: 100%;
      max-width: 100%;
      background: transparent;
  }

  .circle {
	  width: 25%;
      margin: 0;
      float: left;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
  }

  .content {
	  margin: 20px 5px;
      width: 100%;
  }

  .entry-time {
	  float: none;
  }
}

/* 卖萌用 */

.face {
  width: 80px;
  height: 80px;
  background: #FEDFE1;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px #E1A679;
  -moz-box-shadow: 3px 3px 3px #E1A679;
  box-shadow: 3px 3px 3px #E1A679; 
}

.eye {
  width: 16px;
  height: 16px;
  background: #373C38;
  border-radius: 8px; 
  display: inline;
  position: relative;
  top: 24px;
}

.left {
  float:  left;
  left: 18px;
}

.right {
  float: right;
  right: 18px;
}

.mouse {
  width: 40px;
  height: 30px;
  border-bottom: 5px #CB4042 solid;
  position: relative;
  top: 25px;
  left: 20px;
}

.smile {
  border-radius: 0; 
}

.face:hover .smile{
  border-radius: 25px / 20px;
}

.face:hover .eye{
  background: none;
  border-top: 4px #373C38 solid;
}

.pagination {
  margin: 2%;
}

pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
}

code.has-numbering {
    margin-left: 24px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 0.5em 0.3em 0.5em 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 5px 0 0 5px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 14px;
    color: #AAA;
}